$color-primary: #a55eea;
$color-primary-light: #bc85f2;
$color-primary-dark: #7519ce;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #888;

$color-black: black;

$color-green-1: #0be10b;

$color-blue-1: #2980b9;

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			@content;
		} //600px
	}

	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			@content;
		} //900px
	}

	@if $breakpoint == tab-land {
		@media (max-width: 75em) {
			@content;
		} //1200px
	}

	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) {
			@content;
		} //1800px
	}
}
