$color-primary: #a55eea;
$color-primary-light: #bc85f2;
$color-primary-dark: #7519ce;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #888;

$color-black: black;

$color-green-1: #0be10b;

$color-blue-1: #2980b9;
